.root-pane {
    -fx-background-color: #1C3B2C;
}

.header-label {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.btn-login {
    -fx-background-color: #0FA15D;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 120px;
}

.btn-login:hover {
    -fx-background-color: #19df81;
}
